.has-text-line-1 { color: #FFCD00; }
.has-background-line-1 { background-color: #FFCD00; }
.has-text-line-2 { color: #003CA6; }
.has-background-line-2 { background-color: #003CA6; }
.has-text-line-3 { color: #837902; }
.has-background-line-3 { background-color: #837902; }
.has-text-line-4 { color: #CF009E; }
.has-background-line-4 { background-color: #CF009E; }
.has-text-line-5 { color: #FF7E2E; }
.has-background-line-5 { background-color: #FF7E2E; }
.has-text-line-6 { color: #6ECA97; }
.has-background-line-6 { background-color: #6ECA97; }
.has-text-line-7 { color: #FA9ABA; }
.has-background-line-7 { background-color: #FA9ABA; }
.has-text-line-8 { color: #E19BDF; }
.has-background-line-8 { background-color: #E19BDF; }
.has-text-line-9 { color: #B6BD00; }
.has-background-line-9 { background-color: #B6BD00; }
.has-text-line-10 { color: #C9910D; }
.has-background-line-10 { background-color: #C9910D; }
.has-text-line-11 { color: #704B1C; }
.has-background-line-11 { background-color: #704B1C; }
.has-text-line-12 { color: #007852; }
.has-background-line-12 { background-color: #007852; }
.has-text-line-13 { color: #6EC4E8; }
.has-background-line-13 { background-color: #6EC4E8; }
.has-text-line-14 { color: #62259D; }
.has-background-line-14 { background-color: #62259D; }
